.color{
    background-color: #030718;
}
.h3{
    color: whitesmoke;
}
.main-image{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(../images/teaproductsmainimg.jpg);
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.sub-image{
    min-height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)),url(../images/teaproductsmainimg.jpg);
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}

link{
    flex:1;
    text-align: right;
}

.links ul li{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.links ul li a{
    color:#fff;
    text-decoration: none;
    font-size:70%; 
}

.links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:whitesmoke;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.links ul li:hover::after{
    width:100%;
}

.main-text{
    font-size: 32px;
    width:90%;
    color: whitesmoke;
    font-family: 'Water Brush', cursive;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

.sub-text{
    font-size:24px;
    width:50%;
    font-family: 'Dancing Script', cursive;
    position: absolute;
    text-align: center;
    color:whitesmoke;
    top:65%;
    left:25%;
    transform: translateX(-50%, 50%);
}
div{
    height: fit-content;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes example{
    from {top: 90px;}
    to {top: 50%;}
}

/*After main image*/

/*2 products to purchase from*/
.main-title{
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.products-imgs{
    color:black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-evenly;
}
.col{
    color:white;
    flex-basis: 31%;
    margin-bottom: 10%;
    border-radius: 10px;
    box-sizing:border-box;
}

.col2{
    flex-basis: 31%;
    margin-bottom: 10%;
    border-radius: 10px;
    box-sizing:border-box;
}

.col:hover{
    box-shadow: 0 0 20px 0px whitesmoke;
    transform: scale(1.1);
}

@media(max-width: 999px){
    .row{
        flex-direction: column;
    }
}

.img-minah{
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.img-george{
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.other{
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.img {
    text-align:center;
    border-radius: 20px;
    width: 50%;
    transition: all .2s ease-in-out;
}

.img:hover{
    box-shadow: 0 0 20px 0px white;
    transform: scale(1.1);
}

/*Start of donation form*/
.donate{
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
    width:60%;
    margin:auto;
    text-align:center;
    padding-top:100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.donation-form {
    border: 2px solid #FFC734;
    }
    .donation-form hr {
    margin:0;
    }
    .donation-form h4{
    font-size:16px;
    }
    donation-form .donation-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
        }
    donation-form .donation-header .header-text {
    margin-right: 15px;
    color: #DF662F;
    margin-top: 0;
    margin-bottom: 0;
    font-size:15px;
            }
    donation-form .donation-header img{
    width:100px;
    height:30px;
        }
    
    donation-form .donation-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    border-top: 1px solid #efe9e9;
        }
    donation-form .donation-body .col {
    padding: 15px 15px;
    padding-bottom:20px;
            }
    donation-form .donation-body .col:first-child {
    border-right: 1px solid #efe9e9;
                }
    
    donation-form .donation-body h4 {
    margin: 0;
    background-color: #333333;
    color: white;
    display: inline-block;
    padding: 3px 10px;
    text-transform:uppercase;
    font-size:14px;
            }
    donation-form .donation-body p{
    font-size:15px;
    line-height:1.5;
    margin-top:4px;
        }
    donation-form .donation-content{
    display:flex;
    flex-direction:column;
            
        }
    donation-form .donation-content form {
    display: flex;
    flex-direction: column;
        }
    donation-form .donation-content select {
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: 1px solid #bdb5b5;
            }
    donation-form .donation-content .donation-img {
    align-self: flex-start;
    border:none !important;
            }
    
    @media(max-width:768px){
        donation-form .donation-body{
        grid-template-columns: 1fr;                
    }
    donation-form .donation-body .col:first-child {
    border-bottom: 1px solid #efe9e9;
    }
    }
    
    .donation-contact {
    padding: 15px 20px;
    padding-bottom:25px;
    border: 2px solid #FFC734;
    margin-top: 25px;
    margin-bottom: 20px;
    }
    .donation-contact * {
    margin:0;
    font-size:15px;
    }
        
    donation-contact h4 {
    color: #DF662F;
    margin-bottom:15px;
            }
    donation-contact p {
    margin-bottom: 8px;
    font-weight:bold;
            }
    donation-contact p span {
    color: dimgrey;
    text-transform:uppercase;
    font-weight:normal;
    margin-bottom: 15px;
            }
    donation-contact .text-muted {
    font-size:11px;
    color:dimgrey;
    margin-bottom: 15px;
            }
    
    .donation-form-button{
    display:flex;
    flex-direction:column;
    }
.paypal-img{
    width:50%;
}

/*End of donation form*/

.lion{
    display:block;
    margin-left: 42%;
    margin-right: 50%;
    width: 15%;
}